/* css for card */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#container {
    perspective: 1700px;
}

#container:hover #new_year {
    transform: rotateY(180deg);
}


#new_year {
    width: 400px;
    height: 600px;
    position: relative;
    transition: all 1.5s linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

/* frontside starts from here */
#front,
#back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    font-family: "Merriweather", serif;
}


#front {
    border: 1px solid rgb(66, 2, 66);
    z-index: 2;
}

/* backside starts from here, */

#back {
    color: white;
    z-index: 1;
    transform: rotateY(180deg);
    border: 1px solid rgb(84, 0, 84);
    box-shadow: 0 0 100px rgb(34, 0, 34);
    background-color: transparent;
}


#back .top {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
}

#back .top .p1 {
    color: aquamarine;
    text-shadow: 0 0 10px aquamarine;
}

#back .top .p2 {
    color: deepskyblue;
    text-shadow: 0 0 10px deepskyblue;
}

#back .top img {
    position: relative;
    top: 10px;
    border-radius: 100px;
    height: 100px;
    box-shadow: 0 0 10px aqua;
    border: 1px solid blue;
    padding: 5px;
}

.logo {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    gap: 40px;
}

.l1 {
    background-color: white;
    display: flex;
    height: 40px;
    width: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
}

.l1 a {
    color: black;
    font-size: 20px;
}

.text {
    display: none;
}

/* this wont't work until
   copy paste in vs code */
.l1:hover .text {
    position: relative;
    top: 10px;
    right: 5px;
    display: inline;
    color: white;
    height: 40px;
    border-radius: 50px;
}

.l1:hover {
    width: 110px;
    background-color: rgb(193, 13, 88);
}

.l1:hover a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    height: 40px;
    width: 45px;
}


#back .greeting {
    line-height: 25px;
    text-align: center;
    padding-top: 60px;
    word-spacing: 2px;
    text-shadow: 0 10px 10px purple;
}

#back .last {
    color: gold;
    text-shadow: 0 5px 20px gold;
    font-size: 25px;
    padding-left: 120px;

}

/* for, background  */
video {
    z-index: -1;
    position: absolute;
    height: 100vh;
}

